body,html{
        background-color:rgb(241, 233, 228);
}

    h1{
        color:rgb(238, 114, 42);
    }

    h2{
            color:rgb(18, 22, 1);
        }

    h3{
            color:rgb(151, 85, 10);
        }

figcaption{ 
    color:rgb(82, 38, 13);
}


    p, i { 
        color: orange
    }



#content-wrapper{
    width:960px;
    margin: 0 auto;
 
}


        img{
            border:4px solid orange;
        }

a{
    color:green;
}
